@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

img {
    width: 100%;
}

.hidden {
    display: none !important;
}

.main-wrapper {
    position: relative;
}

.gallery-header {
  text-align: center;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  margin-bottom: 3rem;
}

.search-input {
    border-radius: 8px;
    border: 2px solid #e5e5e5;
    color: #999;
    display: block;
    margin: auto;
    max-width: 460px;
    outline: 0;
    padding: .5rem 1rem;
    width: 100%;
}

.photo-gallery {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    list-style-type: none;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    width: 90%;

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.photo-item {
    border-radius: 8px;
    overflow: hidden;
    transition: .4s;
}

.photo-item:hover {
    box-shadow: 2px 2px 10px 5px #bbb;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
}

.lightbox-content {
    max-width: 768px;
    color: #FFF;

    img {
        border-radius: 8px;
        margin-bottom: 1.5rem;
    }

    p {
        font-size: 1.5rem;
    }
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%;
    background-color: rgba(0, 0, 0, .5);
}



.container-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 500px;
    position: absolute;
    top: 2.4%;
    left: 25%;
    z-index: 3;
}

.arrow {
    width: 16px;
    height: 16px;
    display: flex;
    position: absolute;
    top: 60%;
    cursor: pointer;
    fill: #FFF;
}

.cross {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 32px;
    right: 32px;
    cursor: pointer;
}

.arrow:hover {
    width: 32px;
    height: 32px;
    transition: 0.4s;
}

.left {
    left: 48px;
}

.right {
    right: 48px;
}

.description {
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.black-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000000a1;
}